/* app/styles/Layout.module.css */
.nav {
    background-color: #f07731;
    padding: 1rem;
    color: white;
    border-bottom: 3px solid rgba(255, 255, 255, 1); /* Soft white line */

  }
  
  .logo {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navLinks li {
    margin-left: 2rem;
  }
  
  .navLinks li a {
    color: white;
    text-decoration: none;
  }
  
  .navLinks li a:hover {
    text-decoration: underline;
  }
  
  .mainContent {
    padding: 2rem;
  }
  